<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" v-html="title"></div>

                    <div class="card-body">
                        <span v-html="text.slice(0,200)"></span>...<a :href="'/articles/' + id">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: Number,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            text: {
                type: String,
                required: true
            },
        }
    }
</script>
