<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" v-html="title"></div>
                    <img class="card-img-top" v-if="image" :src="image" alt="Card image cap">
                    <div class="card-body">
                        <span v-html="text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: Number,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            text: {
                type: String,
                required: true
            },
            image: {
                type: String,
                default: null
            },
        }
    }
</script>
